main {
  @include circitBackground;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
