.review {
  width: clamp(40%, 520px, 90%);
  background-color: #ddd;
  border-radius: 1rem;
  // padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  isolation: isolate;
  overflow: hidden;

  box-shadow: inset 0 0 20px #00000077;

  .cardHeader {
    background: $clr-accent-0;
    height: 7rem;
    margin-bottom: 6rem;
    border-bottom: 0.5rem solid $clr-accent-1;
    box-shadow: 0 5px 10px #00000077;
  }
  .img-container {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 2rem auto;
    // margin-bottom: 1.5rem;

    box-shadow: 5px 10px 10px #00000055, 0 -5px 35px $clr-accent-2;
    .person-img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
      border: 0.5rem solid $clr-accent-1;
    }
    .quote-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      display: grid;
      place-items: center;
      border-radius: 50%;
      transform: translateY(25%);
      background: $clr-accent-1;
      color: white;
      box-shadow: -2.5px -2.5px 30px $clr-accent-2;
    }
  }
}
.author {
  font-size: 1.5rem;
}
.author,
.info {
  margin: 0.5rem auto;
  max-width: 400px;
}
.info {
  margin-top: 2rem;
}

.button-container {
  margin: 0.5rem 0 1rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 2rem;
  button {
    border: none;
    outline: none;
    background: #ddd;

    padding: 0.5rem 2rem;
    margin: 0;

    a {
      position: relative;
      z-index: 3;
      color: black;
      font-weight: bold;
      font-size: 1.15rem;
      text-decoration: underline;

      transition: color 150ms linear;
    }
    &:hover a {
      transition-delay: 300ms;
      color: white;
    }

    position: relative;
    // isolation: isolate;
    &::after {
      position: absolute;
      content: '';
      inset: -0.1rem 0.25rem -0.1rem 0.25rem;
      background: $clr-accent-0;
      z-index: -1;

      transition: transform 300ms ease;

      // transform-origin: center;
      transform: scaleX(0);
    }
    &::before {
      position: absolute;
      content: '';
      inset: -0.1rem 0 -0.1rem 0;
      background: $clr-accent-0;
      border-radius: 0.4rem;
      // z-index: -1;

      transition: transform 300ms ease;

      transform-origin: bottom;
      transform: scaleY(0);
    }
    &:hover::before {
      transform-origin: top;
      transition-delay: 300ms;
      transform: scale(1);
    }
    &:hover::after {
      transform: scale(1);
    }
  }
}

.button-container span {
  position: relative;
  display: inline-flex;
  width: 50px;
  height: 30px;
  margin: 0 15px;
  perspective: 1000px;
}
.button-container span button {
  cursor: pointer;
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-15px);
  transition: transform 0.25s;
  font-family: 'Montserrat', sans-serif;
}
.button-container span button:before,
.button-container span button:after {
  position: absolute;
  // content: 'Prev';
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.next::after,
.next::before {
  content: 'Next';
}
.prev::after,
.prev::before {
  content: 'Prev';
}
.button-container span button:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(15px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button-container span button:after {
  color: #000;
  background: #fff;
  transform: rotateX(90deg) translateZ(15px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button-container span button:hover {
  transform: translateZ(-15px) rotateX(-90deg);
}
