.reviewContainer {
  width: clamp(35%, 520px, 90%);
  text-align: center;
  .review {
    width: 100%;
    min-height: 350px;
    background-color: $clr-gray-0;
    display: flex;
    flex-direction: column;
    border-radius: $radius;
    overflow: hidden;

    box-shadow: inset $dark-shadow, $light-shadow;
    .cardHeader {
      background-color: $clr-accent-0;
      display: flex;
      // place-items: center;
      justify-content: center;
      border-radius: inherit;
      height: 6.5rem;
      box-sizing: border-box;
      border-bottom: 0.5rem solid $clr-accent-1;
      margin-bottom: 5em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      box-shadow: $dark-shadow;
      .img-container {
        width: 10rem;
        height: 10rem;
        position: relative;
        margin-block: 1rem;
        .image {
          overflow: hidden;
          border-radius: 50%;
          border: 0.5rem solid $clr-accent-1;
          box-sizing: border-box;
          width: 10rem;
          height: 10rem;
          display: flex;
          align-items: center;
          .person-img {
            min-width: 100%;
            height: auto;

            display: block;
          }
        }
      }
      .quote-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        background-color: $clr-accent-1;
        border-radius: 50%;
        left: 0;
        top: 0;
        margin: 0.25rem;
      }
    }
    .author,
    .info {
      margin: 1rem auto 2rem auto;
      max-width: 70%;
      width: clamp(70%, 350px, 90%);
    }
    .author {
      margin: 0 auto;
      text-transform: capitalize;
      font-size: 1.25rem;
    }
    .button-container {
      margin-top: auto;
    }
  }
}

.button-container {
  margin: auto 0 1rem 0;
}
.button-container span {
  position: relative;
  display: inline-flex;
  width: 50px;
  height: 30px;
  margin: 0 15px;
  perspective: 1000px;
}
.button-container span button {
  cursor: pointer;
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-15px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.button-container span button:before,
.button-container span button:after {
  position: absolute;
  // content: 'Prev';
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.next::after,
.next::before {
  content: ">";
}
.prev::after,
.prev::before {
  content: "<";
}
.button-container span button:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(15px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button-container span button:after {
  color: #000;
  background: #fff;
  transform: rotateX(90deg) translateZ(15px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button-container span button:hover {
  transform: translateZ(-15px) rotateX(-90deg);
}
